<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <!-- <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2> -->

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :content, 'Deine Nachricht: ' %> <small>(140 Zeichen)</small><br>
    <%= f.text_area :content, class: "form-control", maxlength: '140' %>
  </div>
  <div class="field">
    <%= f.hidden_field :offer_id, value: params[:offer_id] %>
  </div>

  <!-- <div class="field">
    <%= f.label :recipent %><br>
    <%= f.number_field :recipent %>
  </div>
  <div class="field">
    <%= f.label :sender %><br>
    <%= f.number_field :sender %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div> -->
  <div class="actions">
    <br><%= f.submit 'senden', class: "btn btn-info pull-right", data: { disable_with: "veröffentlichen" } %>
    <%= link_to 'zurück', messages_path, class: "btn btn-danger pull-left" %>
  </div>
<% end %>
