<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <h1><small>hitchi.de:
            Diese Fahrt könnten zu deinem Gesuch passen!</small></h1>
        <p><small>
            hitchi ist aus der Mitfahrgelegenheit-Community auf Facebook entstanden!</small><br>
        </p>
        <br>

        <p>
            <strong>Abfahrt:
            </strong>
            <%= @offer.departuredate.strftime("%d.%m.%Y") %>
            (<%= @offer.departuretime %>)</p>
        <p>
            <strong>Von:
            </strong>
            <%= @offer.departurelocal %>
            <strong>nach:
            </strong>
            <%= @offer.destinationlocal %></p>
            <p><br>
                Link zur Anzeige:<br>
                <%= link_to @hitchiurl + @offer.id.to_s,@hitchiurl + @offer.id.to_s %>
            </p>
            <br><hr>
            <p><strong>Falls du nicht mehr per E-Mail benachrichtigt werden möchtest, ändere die Einstellung des dazugehörigen Gesuchs.</strong></p>
            <hr>
            <br>
            <p>Wir wünschen dir stets eine gute (Mit-)Fahrt!</p>
            <p>Dein hitchi.de-Team :)</p>
        </body>
    </html>
