<%= metamagic title: "hitchi FAQ - die Mitfahrgelegenheit aus der Community - ohne Abzocke", description: "Fragen und Antworten rund um hitchi.", keywords: %w(kostenlos Mitfahrgelegenheit Mitfahren FAQ fragen antworten hitschi hitchi hitji), og: {
title: "hitchi FAQ - die Mitfahrgelegenheit aus der Community - ohne Abzocke", description: "Kostenlose Mitfahrgelegenheiten für die facebook Community.", url: "https://www.hitchi.de", image: hitchilogourl } %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="row">
      <div class="col-md-12">
        <h2>
          <small>Wie funktioniert hitchi.de oder wieso bin ich hier gelandet?</small>
        </h2>
        <% if params[:info] %>
        <p id="notice" class="text-center"><%= params[:info] %></p>
        <% end %>
        <p>
          <a href="https://www.facebook.com/hitchide-1803011653296477/?fref=ts" target="_blank" class="btn btn-danger"><%= fa_stacked_icon("user", base: "square-o") %>Feedback geben</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-top">
            <h4>Bleibt das wirklich kostenlos?</h4>
          </div>
          <div class="card-body">
            <p>Ja. hitchi wurde
              <strong>ohne Agentur und ohne Investoren</strong>
              ins Leben gerufen, da die Idee Mitfahrer zu finden so alt ist wie die Erfindung des Automobils.</p>
            <p>
              <strong>Schluss mit Gebühren für Mitfahrgelegenheiten!</strong>
              <strong>Schluss mit unübersichtlichen Facebook-Gruppen!</strong>
            </p>
          </div>
          <div class="card-footer"><br></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-top">
            <h4>Ich habe eigentlich auf eine Anzeige geklickt.</h4>
          </div>
          <div class="card-body">
            <p>Um einen Nutzer kontaktieren zu können, musst du eingeloggt sein. Ist doch fair, oder?</p>
            <% if !current_user %>
            <p><%= link_to 'Mit Facebook einloggen!', "/auth/facebook", class: "btn btn-primary" %></p>
            <% end %>
          </div>
          <div class="card-footer"><br></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-top">
            <h4>Wie wird abgerechnet? Gebe ich einen Preis an?</h4>
          </div>
          <div class="card-body">
            <p>Den Preis kannst du in die Beschreibung setzen, oder nach Kontaktaufnahme besprechen. Ebenso klärt ihr, wann bezahlt wird.</p>
          </div>
          <div class="card-footer"><br></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-top">
            <h4>Einige meiner hitchis fehlen.</h4>
          </div>
          <div class="card-body">
            <p>hitchi.de löscht automatisch alte Angebote und Gesuche, damit die Plattform schön ordentlich und aufgeräumt bleibt.</p>
          </div>
          <div class="card-footer"><br></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-top">
            <h4>Der falsche Ort wird angezeigt.</h4>
          </div>
          <div class="card-body">
            <p>Präzisiere deine Eingaben, füge die Postleitzahl hinzu:<br>Eppstein
              <%= fa_icon("arrow-circle-right") %>
              Eppstein, 67227</p>
          </div>
          <div class="card-footer"><br></div>
        </div>
      </div>
    </div>

  </div>
</div>
