<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <%= render 'offers/show_gmaps' %>
    <div class="card shadow" itemscope itemtype="http://schema.org/TravelAction">
      <div class="card-top">
        <br>
        <p>
          <strong>
            <% if @offer.seek == true %>
            Suche:
            <% end %>
            <span itemprop="startTime"><%= @offer.departuredate.strftime("%d.%m.%Y") %></span></strong><br>
          <strong>
            <span itemprop="fromLocation"><%= @offer.departurelocal %></span>
          </strong>
          nach
          <strong>
            <span itemprop="toLocation"><%= @offer.destinationlocal %></span>
          </strong>
        </p>
      </div>
      <div class="card-body" itemprop="description">
        <p>
          <strong>Zeit:&nbsp;</strong><%= @offer.departuretime %></p><br>
        <p><%= simple_format(@offer.description) %></p>
      </div>
      <div class="card-footer">
        <p>
          <% if !@offer.between_stops.blank? %>
            <strong>Über: </strong><%= @offer.between_stops %>
          <% end %>
        </p>
        <p class="text-center">
          <!-- user -->
        </p>
      </div>
    </div>
    <p class="pull-right">
      <span class="btn btn-primary btn-xs countflag shadow">Aufrufe: <span class="badge"><%= @offer.viewcounter.to_s %></span></span>
    </p>
  </div>
</div>
