<div class="row">
  <div class="col-xs-12">
<h1>Übersicht der geschalteten Werbungen</h1>

<table id="adTable" class="table table-striped tablesorter">
  <thead>
    <tr>
      <th>Titel</th>
      <th>Kunde</th>
      <th>Stadt</th>
      <th>Views</th>
      <th>Clicks</th>
      <th>Start</th>
      <th>Ende</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adverts.each do |advert| %>
      <tr>
        <td><%= advert.title %></td>
        <td><%= advert.client %></td>
        <td><%= advert.city %></td>
        <td><%= advert.viewcounter %></td>
        <td><%= advert.clickcounter %></td>
        <td><%= advert.begin_ad %></td>
        <td><%= advert.end_ad %></td>
        <td><%= link_to 'anzeigen', advert %></td>
        <td><%= link_to 'bearbeiten', edit_advert_path(advert) %></td>
        <td><%= link_to 'löschen', advert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- pager -->
<div id="pager" class="ts-pager">
  <form>
    <span class="first"><%= fa_icon("fast-backward") %></span>
    <span class="prev"><%= fa_icon("backward") %></span>
    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
    <span class="next"><%= fa_icon("forward") %></span>
    <span class="last"><%= fa_icon("fast-forward") %></span>
    <select class="pagesize">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="all">Alle Zeilen</option>
    </select>
  </form>
</div>
<br>

<%= link_to 'Neue Werbung erstellen', new_admins_advert_path, class: "btn btn-primary" %>

</div>
</div>
<%= link_to 'Admin Dashbaord', admins_dashboards_path, class: "btn btn-danger" %>
<hr>
<% if admin_signed_in? %>
   <%= link_to('logout', destroy_admin_session_path, method: :delete, class: "btn btn-info") %>
<% end %>
